
<div class="row">
 <div class="col-12 mb-4">
  <div class="card border-0 shadow components-section">
   <div class="card-body">
   <!-- this area is for message-->
   <div class="row mb-4">
     <div class="col-sm-4">
       <div ng-show="error" class="alert-link alert-success">{{message}}</div>
     </div>
   </div>
   <form  name="addBrand" ng-submit="addnewbrand()" role="form">
     <div class="row mb-4">
      <!-- Form -->
      <div class="col-sm-2">
       <div class="mb-2">
         <label for="brand_name">Brand Name</label>
       </div>
      </div>
      <div class="col-sm-3">
       <div class="mb-2">
          <input type="text" ng-model="bname" id="bname" class="form-control" placeholder="Enter a Brand Name" autofocus required>
       </div>
      </div>
      <div class="col-sm-2">
       <div class="mb-2">
         <button type="submit" class="btn btn-block btn-info">Add New Brand</button>
       </div>
      </div>
      <!-- End of Form -->
     </div>
   </form>
   </div>
  </div>
 </div>
</div>