<!------------------ This part is used for adding new brand---------------------->
<div class="row">
 <div class="col-12 mb-4">
  <div class="card border-0 shadow components-section">
   <div class="card-body">
   <!-- this area is for message-->
   <div ng-switch="msgType" class="row">
     <div class="mb-4 text-success fw-bolder" ng-switch-when="1">{{message}}</div>
     <div class="mb-4 text-danger fw-bolder" ng-switch-when="0">{{message}}</div>
   </div>
   <form  name="addBrand" ng-submit="addnewbrand()" role="form">
     <div class="row mb-2">
      <!-- Form -->
      <div class="col-sm-2">
       <div class="mb-2">
         <label for="brand_name">Brand Name</label>
       </div>
      </div>
      <div class="col-sm-3">
       <div class="mb-2">
          <input type="text" ng-model="bname" id="bname" class="form-control" placeholder="Enter a Brand Name" autofocus required>
       </div>
      </div>
      <div class="col-sm-2">
       <div class="mb-2">
         <button type="submit" class="btn btn-block btn-info mt-0">Add New Brand</button>
       </div>
      </div>
      <!-- End of Form -->
     </div>
   </form>
   </div>
  </div>
 </div>
</div>
<!------------------ end of adding new brands---------------------->

