
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow components-section">
                        <div class="card-body">
                            <!-- this area is for message-->
                            <div ng-switch="msgType" class="row">
                              <div class="mb-4 text-success fw-bolder" ng-switch-when="1">{{message}}</div>
                              <div class="mb-4 text-danger fw-bolder" ng-switch-when="0">{{message}}</div>
                            </div>
                            <form  name="addProduct" ng-submit="addnewproduct()" role="form">     
                              <div class="row mb-4">
                                  <div class="col-lg-4 col-sm-6">
                                      <!-- Form -->
                                      <div class="mb-4">
                                          <label for="productname">Product Name</label>
                                          <input type="text" class="form-control" ng-model="productname" id="productname" required>
                                      </div>
                                      <!-- End of Form -->                                    
                                      <!-- Form -->
                                      <div class="mb-3">
                                          <label for="myear">Model Year</label>
                                          <div class="input-group">
                                              <span class="input-group-text bg-light"><span class="fas fa-calendar"></span></span>
                                              <select class="form-select" id="myear" ng-model="myear" required> 
                                               <option>Select a model year</option>
                                               <option ng-repeat="year in years">{{year}}</option>
                                              </select>                                              
                                          </div>
                                      </div>
                                      <!-- End of Form -->
                                  </div>
                                  <div class="col-lg-4 col-sm-6">
                                      <!-- Form -->
                                      <div class="mb-4">
                                          <label class="my-1 me-2" for="brand">Brands</label>
                                          <select class="form-select" ng-model="brand" id="brand" required> 
                                            <option ng-repeat="brand in brands" value="{{brand.BRAND_ID}}">{{brand.BRAND_NAME}}({{brand.BRAND_ID}})</option>
                                          </select>
                                      </div>
                                      <!-- End of Form --> 
                                      <!-- Form -->
                                      <div class="mb-4">
                                          <label for="productname">List of Price</label>
                                          <input type="number" step=".01" class="form-control" ng-model="listprice" id="listprice" placeholder="Enter list of price" required>
                                      </div>
                                      <!-- End of Form --> 
                                  </div>
                                  
                                  <div class="col-lg-4 col-sm-6">
                                      <!-- Form -->
                                      <div class="mb-4">
                                          <label class="my-1 me-2" for="category">Categories</label>
                                          <select class="form-select" ng-model="category" id="category" required> 
                                            <option ng-repeat="ctg in categories" value="{{ctg.CATEGORY_ID}}">{{ctg.CATEGORY_NAME}}({{ctg.CATEGORY_ID}})</option>
                                          </select>
                                      </div>
                                      <!-- End of Form -->
                                      <!-- Form -->
                                      <div class="mb-4">
                                          <button type="submit" class="btn btn-block btn-info mt-5">Add New Product</button>
                                      </div>
                                      <!-- End of Form -->
                                  </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>